.btn_Container
{
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
}

#pager
{
    text-align: center;
    margin-top : 40px;
}

#pager a
{
    color : #635c5c
}

#pager a span
{
    margin : 6px;
}

.btn_Container .btn_1
{
    margin-right: 30px;
}


.fail{
    color: red;
}

.input-container
{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    border: rgba(128, 128, 128, 0.438) solid 1px;
    padding : 60px;

    
}




