<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="member">
	<select id="login_check" resultType="String">
		select name from member
		where userid=#{userid} and password=#{password}
	</select>
	
	<select id="list" resultType="com.example.toyProject.model.member.dto.MemberDTO">
		<include refid="member_header"/>
			select * from member order by joindate desc) sortedM
		<include refid="member_footer"/>	
	</select>
	
	<sql id="member_header">
		select * from (select rownum N, sortedM.* from (
	</sql>
	
	<sql id="member_footer">
		) where N between #{start} and #{end}
	</sql>
	
	<select id="count" resultType="Integer">
		select count(*) from member
	</select>
	
	
</mapper>	